body {
     font-family: sans-serif;
     display: flex;
     flex-direction: column;
     margin: 0;
     padding: 0;
}

a {
     text-decoration: none;
     color: white;
}

ul {
     list-style-type: none;
     display: flex;
     gap: 20px;
}

.title {
     font-weight: 900;
     font-size: 35px;
}

.header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: #1F2937;
     color: white;
     font-size: 28px;
}


.second-part {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #1F2937;
     color: white;
     gap: 180px;
     padding: 100px;
}

.text-second {
     width: 500px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.title-second {
     font-size: 48px;
}

.first-button {
     border-radius: 5px;
     width: 150px; 
     height: 50px;   
     margin-top: 5px;
     border-radius: 10px; 
     color: white;
     background-color: #3882F6;
     border: 3px solid #1F2937;
     font-weight: 800;
}

.title-sc {
     font-size: 42px;
     font-weight: 900;
     text-align: center;
     padding: 52px;
     color: #1F2937;
}

.box {
     border: 5px solid #307fff;
     border-radius: 22px;
     width: 210px;
     height: 210px;
}


.third-part {
     display: flex;
     flex-direction: column;
     margin: 10px;
}

.content {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 100px;
}

.part {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.text-third {
     text-align: center;
     width: 200px;
     margin: 10px;
     color: #1F2937;
}

.quote-part {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 330px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 280px;
     gap: 10px;
     color: #1F2937;
}

.quote {
     font-size: 46px;
}

.author {
     font-size: 30px;
     font-weight: 900;
     align-self: flex-end;
}

.last-section {
     width: 1300px;
     height: 100px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 150px;
     border-radius: 15px;
     background-color: #3882F6;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 60px;
     color: white;
}

.second-button {
     border-radius: 5px;
     width: 170px; 
     height: 50px;   
     margin-top: 5px;
     border-radius: 10px; 
     color: white;
     background-color: #3882F6;
     border: 3px solid white;
     font-weight: 800;
}

.bold-text {
     font-weight: 900;
     font-size: 30px;
     padding-bottom: 5px;
}

.footer {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: auto;
     background-color: #1F2937;
     color: white;
     padding: 60px;
}